src/data/sharepoint/requestManagerApproval.json
{
  "nodeId": "Scope_-_Try",
  "serializedValue": {
    "type": "Scope",
    "actions": {
      "Get_file_properties": {
        "type": "OpenApiConnection",
        "inputs": {
          "parameters": {
            "dataset": "",
            "table": "",
            "id": "@triggerBody()?['ID']"
          },
          "host": {
            "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
            "connection": "shared_sharepointonline",
            "operationId": "GetFileItem"
          }
        },
        "metadata": {
          "operationMetadataId": "6295edac-f41d-4464-8fbf-595ebd1160db"
        }
      },
      "Get_file_content": {
        "type": "OpenApiConnection",
        "inputs": {
          "parameters": {
            "dataset": "",
            "id": "@outputs('Get_file_properties')?['body/{Identifier}']",
            "inferContentType": true
          },
          "host": {
            "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
            "connection": "shared_sharepointonline",
            "operationId": "GetFileContent"
          }
        },
        "runAfter": { "Get_file_properties": ["Succeeded"] },
        "metadata": {
          "operationMetadataId": "4a626804-ef85-45c8-be4c-6ded990e2c91"
        }
      },
      "Start_and_wait_for_an_approval_-_Approval_from_Manager": {
        "type": "OpenApiConnectionWebhook",
        "inputs": {
          "parameters": {
            "approvalType": "BasicAwaitAll",
            "WebhookApprovalCreationInput/title": "",
            "WebhookApprovalCreationInput/assignedTo": "",
            "WebhookApprovalCreationInput/enableNotifications": true,
            "WebhookApprovalCreationInput/enableReassignment": true
          },
          "host": {
            "apiId": "/providers/Microsoft.PowerApps/apis/shared_approvals",
            "connection": "shared_approvals",
            "operationId": "StartAndWaitForAnApproval"
          }
        },
        "runAfter": { "Get_file_content": ["Succeeded"] },
        "metadata": {
          "operationMetadataId": "aa777441-f96f-4606-a0dd-151b2eccc372"
        }
      }
    },
    "runAfter": {},
    "metadata": {
      "operationMetadataId": "7367052e-aa79-4918-9ce8-cc2684c4fa2b"
    }
  },
  "allConnectionData": {
    "Get_file_properties": {
      "connectionReference": {
        "api": {
          "id": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
        },
        "connection": { "id": "" },
        "connectionName": ""
      },
      "referenceKey": "shared_sharepointonline"
    },
    "Get_file_content": {
      "connectionReference": {
        "api": {
          "id": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
        },
        "connection": { "id": "" },
        "connectionName": ""
      },
      "referenceKey": "shared_sharepointonline"
    },
    "Start_and_wait_for_an_approval_-_Approval_from_Manager": {
      "connectionReference": {
        "api": { "id": "/providers/Microsoft.PowerApps/apis/shared_approvals" },
        "connection": { "id": "" },
        "connectionName": ""
      },
      "referenceKey": "shared_approvals"
    }
  },
  "staticResults": {},
  "isScopeNode": true,
  "mslaNode": true
}
